{% extends "index.html" %}

{% block content %}


<div class="shape rect rectangle">
</div>

<div class="shape rect rectangle2">
</div>


<div class="shape rect pfp">
</div>



<div class="shape text saanvis-p">
    <div class="text-node-html" id="html-text-node-6d3d353a-ce7d-80e5-8006-5f5b93ac78c4" data-x="257" data-y="220">
      <div class="root rich-text root-0" xmlns="http://www.w3.org/1999/xhtml">
        <div class="paragraph-set root-0-paragraph-set-0">
          <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="ltr"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-1">Saanvi&#x27;s Portfolio</span></p>
        </div>
      </div>
    </div>
  </div>


<!-- text: about me:  -->
<div class="shape text about-me">
    <div class="text-node-html" id="html-text-node-6d3d353a-ce7d-80e5-8006-5f5d07cc3606" data-x="80" data-y="439.99999999999994">
      <div class="root rich-text root-0" xmlns="http://www.w3.org/1999/xhtml">
        <div class="paragraph-set root-0-paragraph-set-0">
          <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="ltr"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0">about me </span></p>
        </div>
      </div>
    </div>
    
    <p>
        Hi, my name is Saanvi Kakde and I am part of the Major League Hacking Fellowship on the Production Engineering track. I am a Barrett Honors student at Arizona State University (ASU) pursuing a Bachelor of Science in Computer Science and a minor in Data Science. As a rising Sophmore, I’ve built technical skills through coursework, hackathons, and personal projects. I am most proficient in Python, Java, and full-stack web development. 
    </p>

  </div>

  



{% endblock %}
