{% extends "index.html" %}

{% block content %}


<div class="shape rect rectangle">
</div>

<div class="shape rect rectangle2">
</div>

<div class="shape rect rectangle3">
</div>

<div class="shape rect rectangle4">
</div>

<div class="shape rect pfp">
</div>

<!-- rect: asulogo -->
<div class="shape rect asulogo">
</div>

<div class="shape rect ewhizlogo">
</div>

<!-- rect: mlhlogo -->
<div class="shape rect mlhlogo">
</div>

<!-- rect: schoollogo -->
<div class="shape rect schoollogo">
</div>

<div class="shape text saanvis-p">
    <div class="text-node-html" id="html-text-node-6d3d353a-ce7d-80e5-8006-5f5b93ac78c4" data-x="257" data-y="220">
      <div class="root rich-text root-0" xmlns="http://www.w3.org/1999/xhtml">
        <div class="paragraph-set root-0-paragraph-set-0">
          <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="ltr"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0">Saanvi&#x27;s Portfolio</span></p>
        </div>
      </div>
    </div>
  </div>


<!-- text: about me:  -->
<div class="shape text about-me">
    <div class="text-node-html" id="html-text-node-6d3d353a-ce7d-80e5-8006-5f5d07cc3606" data-x="80" data-y="439.99999999999994">
      <div class="root rich-text root-0" xmlns="http://www.w3.org/1999/xhtml">
        <div class="paragraph-set root-0-paragraph-set-0">
          <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="ltr"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0">about me </span></p>
        </div>
      </div>
    </div>
    
    <p>
        Hi, my name is Saanvi Kakde and I am part of the Major League Hacking Fellowship on the Production Engineering track. I am a Barrett Honors student at Arizona State University (ASU) pursuing a Bachelor of Science in Computer Science and a minor in Data Science. As a rising Sophmore, I’ve built technical skills through coursework, hackathons, and personal projects. I am most proficient in Python, Java, and full-stack web development. 
    </p>

  </div>

  <!-- text: Work Experience  -->
  <div class="shape text work-exper">
    <div class="text-node-html" id="html-text-node-6d3d353a-ce7d-80e5-8006-5f66b1fea182" data-x="-539" data-y="931">
      <div class="root rich-text root-0" xmlns="http://www.w3.org/1999/xhtml">
        <div class="paragraph-set root-0-paragraph-set-0">
          <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="ltr"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0">Work Experience </span></p>
        </div>
      </div>
    </div>

    <p><strong>e-Whiz Global</strong> | <em>Data Analysis Intern</em> <span style="float: right;">May 2025 – Present</span></p>
    <ul>
      <li>Worked with Apache Superset and MySQL database to create Dashboards representing client data</li>
      <li>Researched version control systems like Git and TortoiseSVN for efficient company software development</li>
    </ul>
    <p><strong>Meta and Major League Hacking</strong> | <em>Production Engineering Fellow </em> <span style="float: right;" >June 2025 - Present</span></p>
    <ul>
        <li>Selected for fellowship focused on DevOps, and site reliability engineering (SRE) practices</li>
        <li>Collaborated in weekly engineering meetings with mentorship from Meta engineers</li>
    </ul>
    <p><strong>Arizona State University Writers’ Studio</strong> | <em>Writing Mentor</em> <span style="float: right;" >December 2024 - Present</span></p>
    <ul>
        <li>Serve as a Teaching Assistant (TA) for ENG 101, grading discussion boards and peer reviews</li>
        <li>Lead writing workshops that enhance students' analytical writing skills through personalized feedback</li>
    </ul>

  </div>

  <div class="shape text education">
    <div class="text-node-html" id="html-text-node-6d3d353a-ce7d-80e5-8006-5f66961e470e" data-x="-220" data-y="715">
      <div class="root rich-text root-0" xmlns="http://www.w3.org/1999/xhtml">
        <div class="paragraph-set root-0-paragraph-set-0">
          <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="ltr"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0">Education</span></p>
          <p class="paragraph root-0-paragraph-set-0-paragraph-1" dir="ltr"><span class="text-node root-0-paragraph-set-0-paragraph-1-text-0"> </span></p>
        </div>
      </div>
    </div>

    <p><strong>Arizona State University, Tempe, Arizona</strong> <span style="float: right;" >Fall 2024 - Present</span></p>
    <p>B.S. Computer Science | Certificate in Cross-Sector Leadership <span style="float: right;" ><strong>GPA: 4.00</strong></span></p>
    <div>
       
  </div>




{% endblock %}
