<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" content="Personal Portfolio">
    <meta property="og:description" content="My Personal Portfolio">
    <meta property="og:url" content="{{ url }}">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">

    <link lang='sass' rel="stylesheet" href="./static/styles/main.css">
    <link rel='icon' href='./static/img/favicon.ico' type='image/x-icon' />
    <title>{{ title }}</title>
</head>

<body>
    <header class="nav-bar">
        <div class="nav-content">
            <a href="/">
                <div class="nav-logo">
                    <img src="./static/img/logo.svg" />
                </div>
            </a>
        </div>
    </header>

    <div class="profile">
        <div id="profile-picture" class="profile-picture">
            <img src="./static/img/logo.jpg">
        </div>
        <h1>{{ title }}</h1>
    </div>

    <div id="about-me" class="about-me"> 
        <h2>About Me</h2>
        <p>
            Hi, my name is Saanvi Kakde and I am part of the Major League Hacking Fellowship on the Production Engineering track. I am a Barrett Honors student at Arizona State University (ASU) pursuing a Bachelor of Science in Computer Science and a minor in Data Science. As a rising Sophmore, I’ve built technical skills through coursework, hackathons, and personal projects. I am most proficient in Python, Java, and full-stack web development. 
        </p>
        <h2>Education</h2>
        <p><strong>Arizona State University, Tempe, Arizona</strong> <span style="float: right;" >Fall 2024 - Present</span></p>
        <p>B.S. Computer Science | Certificate in Cross-Sector Leadership <span style="float: right;" ><strong>GPA: 4.16</strong></span></p>
        <h2>Previous Work Experience</h2>
        <div>
            <p><strong>e-Whiz Global</strong> | <em>Data Analysis Intern</em> <span style="float: right;">May 2025 – Present</span></p>
            <ul>
              <li>Worked with Apache Superset and MySQL database to create Dashboards representing client data</li>
              <li>Researched version control systems like Git and TortoiseSVN for efficient company software development</li>
            </ul>
            <p><strong>Arizona State University Writers’ Studio</strong> | <em>Writing Mentor</em> <span style="float: right;" >December 2024 - Present</span></p>
            <ul>
                <li>Serve as a Teaching Assistant (TA) for ENG 101, grading discussion boards and peer reviews</li>
                <li>Lead writing workshops that enhance students' analytical writing skills through personalized feedback</li>
            </ul>
        </div>
    </div>
   
</body>

</html>