{% extends "index.html" %}

{% block content %}

<div class="shape rect rectangle">
</div>

<div class="hobby1" > 
</div>


<div class="shape text saanvis-p">
  <div class="text-node-html" id="html-text-node-6d3d353a-ce7d-80e5-8006-5f5b93ac78c4" data-x="257" data-y="220">
    <div class="root rich-text root-0" xmlns="http://www.w3.org/1999/xhtml">
      <div class="paragraph-set root-0-paragraph-set-0">
        <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="ltr"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-1">Saanvi&#x27;s Portfolio</span></p>
      </div>
    </div>
  </div>
</div>

<div class="shape text hobbies">
  <div class="text-node-html" id="html-text-node-6d3d353a-ce7d-80e5-8006-5f5d07cc3606" data-x="80" data-y="439.99999999999994">
    <div class="root rich-text root-0" xmlns="http://www.w3.org/1999/xhtml">
      <div class="paragraph-set root-0-paragraph-set-0">
        <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="ltr"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0">hobbies</span></p>
      </div>
    </div>
  </div>


<!-- Hobbies Section -->
<div class="hobbies-section">
  <h1 class="hobbies-title">my favorite hobbies</h1>
  <div class="hobbies-grid">
    <div class="hobby-card painting">
      <img src="../static/img/hobby1.1.JPG" class="hobby-image" alt="Painting">
      <div class="hobby-content">
        <h3>painting</h3>
        <p>landscapes, portraits, & henna designs</p>
      </div>
    </div>
    <div class="hobby-card dance">
      <img src="../static/img/hobby2.jpg" class="hobby-image" alt="Dance">
      <div class="hobby-content">
        <h3>dance</h3>
        <p>indian classical, fusion, & hip-hop</p>
      </div>
    </div>
    <div class="hobby-card fashion">
      <img src="../static/img/hobby3.4.jpg" class="hobby-image" alt="Fashion">
      <div class="hobby-content">
        <h3>fashion</h3>
        <p>thrifting, upcycling, photoshoots, & fashion shows</p>
      </div>
    </div>
    <div class="hobby-card music">
      <img src="../static/img/hobby4.JPG" class="hobby-image" alt="Music">
      <div class="hobby-content">
        <h3>music</h3>
        <p>the marias, cas, the neighborhood, & lana del ray</p>
      </div>
    </div>
    <div class="hobby-card photography">
      <img src="../static/img/hobby5.jpeg" class="hobby-image" alt="Photography">
      <div class="hobby-content">
        <h3>photography</h3>
        <p>beaches, cityscapes, & mountains</p>
      </div>
    </div>
  </div>
</div>



<!-- Favorite Destinations Section -->
<section class="map-section">
  <h1 class="section-title">favorite destinations</h1>

  <div class="map-container">
    <iframe 
      src="https://www.google.com/maps/d/u/0/embed?mid=1gLOmih_ugi3BSos0K3JIVdLJsUklEgw&ehbc=2E312F&noprof=1"
      width="100%" height="480" style="border:0;" allowfullscreen loading="lazy">
    </iframe>

    <div class="map-legend">
      <h3>Map Key</h3>
      <ul>
        <li><span class="dot dot-green"></span> Places I've Been or Lived</li>
        <li><span class="dot dot-red"></span> Places I Want to Travel To</li>
      </ul>
    </div>
  </div>
</section>

{% endblock %}
