{% extends "index.html" %}

{% block content %}

<!-- Hobbies Section -->
<div class="hobbies-section">
  <h1 class="hobbies-title">my favorite hobbies</h1>
  <div class="hobbies-grid">
    <div class="hobby-card painting">
      <img src="../static/img/hobby1.1.JPG" class="hobby-image" alt="Painting">
      <div class="hobby-content">
        <h3>painting</h3>
        <p>landscapes, portraits, & henna designs</p>
      </div>
    </div>
    <div class="hobby-card dance">
      <img src="../static/img/hobby2.jpg" class="hobby-image" alt="Dance">
      <div class="hobby-content">
        <h3>dance</h3>
        <p>indian classical, fusion, & hip-hop</p>
      </div>
    </div>
    <div class="hobby-card fashion">
      <img src="../static/img/hobby3.4.jpg" class="hobby-image" alt="Fashion">
      <div class="hobby-content">
        <h3>fashion</h3>
        <p>thrifting, upcycling, photoshoots, & fashion shows</p>
      </div>
    </div>
    <div class="hobby-card music">
      <img src="../static/img/hobby4.JPG" class="hobby-image" alt="Music">
      <div class="hobby-content">
        <h3>music</h3>
        <p>the marias, cas, the neighborhood, & lana del ray</p>
      </div>
    </div>
    <div class="hobby-card photography">
      <img src="../static/img/hobby5.jpeg" class="hobby-image" alt="Photography">
      <div class="hobby-content">
        <h3>photography</h3>
        <p>beaches, cityscapes, & mountains</p>
      </div>
    </div>
  </div>
</div>

<!-- Favorite Destinations Section -->
<section class="map-section">
  <h1 class="section-title">favorite destinations</h1>

  <div class="map-container">
    <iframe 
      src="https://www.google.com/maps/d/u/0/embed?mid=1gLOmih_ugi3BSos0K3JIVdLJsUklEgw&ehbc=2E312F&noprof=1"
      width="100%" height="480" style="border:0;" allowfullscreen loading="lazy">
    </iframe>

    <div class="map-legend">
      <h3>Map Key</h3>
      <ul>
        <li><span class="dot dot-green"></span> Places I've Been or Lived</li>
        <li><span class="dot dot-red"></span> Places I Want to Travel To</li>
      </ul>
    </div>
  </div>
</section>

{% endblock %}
